@import "tailwindcss";

:root {
  --background: #E7E7E3;
  --foreground: #232321;
  color-scheme: light;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-rubik);
}

html,
body {
  background-color: #E7E7E3 !important;
  color: #232321 !important;
  font-family: var(--font-rubik), ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100%;
}